/bin/
/build/
/composer.phar
/vendor/
/web/bundles/
/web/assetic/
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/.idea/
project
app/sessions
node_modules
/.git-old
.php-version