Recuperação de Conta
<div style="margin:0;padding:0" bgcolor="#FFFFFF">
    <table style="min-width:348px" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tbody>
        <tr height="32px"></tr>
        <tr align="center">
            <td width="32px"></td>
            <td>
                <table style="max-width:600px" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td align="left"><img
                                                src="{{ asset('bundles/slu/image/marcaUFT_horizontal.png',null,true) }}"
                                                style="display:block" height="50px" width="230px"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr height="16"></tr>
                    <tr>
                        <td>
                            <table style="min-width:332px;max-width:600px;border:1px solid #e0e0e0;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px"
                                   bgcolor="#005484" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td colspan="3" height="72px"></td>
                                </tr>
                                <tr>
                                    <td width="32px"></td>
                                    <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:24px;color:#ffffff;line-height:1.25">
                                        Recuperação de <span class="lG">Conta</span>
                                    </td>
                                    <td width="32px"></td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="18px"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="min-width:332px;max-width:600px;border:1px solid #f0f0f0;border-bottom:1px solid #c0c0c0;border-top:0;border-bottom-left-radius:3px;border-bottom-right-radius:3px"
                                   bgcolor="#FAFAFA" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr height="16px">
                                    <td rowspan="3" width="32px"></td>
                                    <td></td>
                                    <td rowspan="3" width="32px"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="min-width:300px" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5">
                                                    Olá! <br><br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5">

                                                    Se você solicitou a recuperação da conta <strong>{{ username }}</strong>, por favor, entre em sua conta com a senha: <strong>{{senha}}</strong>

                                                    <br><br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center">
                                                    <a href=" {{url('homepage')}} " target="_blank" alt="criar nova senha" height="500px" width="500px" style="background-color:#28887B;border:1px solid #28887B;border-radius:3px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:16px;line-height:44px;text-align:center;text-decoration:none;width:180px;-webkit-text-size-adjust:none;mso-hide:all;"  "> Entrar no SLU &rarr;</a>
                                                </td>
                                            </tr>
                                            <tr height="32px"></tr>
                                            <tr>
                                                <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5">
                                                    Atenciosamente,<br>Coordenação de Desenvolvimento de Software
                                                </td>
                                            </tr>
                                            <tr height="16px"></tr>
                                            <tr>
                                                <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:12px;color:#b9b9b9;line-height:1.5">
                                                    Não responda a este e-mail.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr height="32px"></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr height="16"></tr>
                    <tr>
                        <td style="max-width:600px;font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#bcbcbc;line-height:1.5">
                            Este e-mail foi gerado automaticamente pelo SLU - Sistema de Login Unificado.<br>
                            Coordenação de Desenvolvimento de Software<br>
                            Diretoria de Tecnologia da Informação<br>
                            <span>Universidade Federal do Tocantins</span><br>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td width="32px"></td>
        </tr>
        <tr height="32px"></tr>
        </tbody>
    </table>
</div>