{% extends '::base.html.twig' %}

{% block page_content %}
 <div class="row" align="center">
     <div class="col-md-12 col-centered">
         <div class="box box-primary" style="padding:  12em 3em 12em 3em">
             <p style="font-size: 600%">Sistema e Manutenção!</p>
             <h3>Desculpe, estamos passando por uma manutenção.</h3>
             <h4>É rapidinho, estamos rodando alguns procedimentos de segurança para que seus dados não se
                 percam.</h4>
             {#{% if manutencaoAte != false %}#}
                 {#<h4>Previsão de retorno: {{ manutencaoAte }}</h4>#}
             {#{% endif %}#}
             <br/>
         </div>
     </div>
 </div>
{% endblock %}